body {
	font-family: "Baskerville",sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #CCC;
}
@font-face {
    font-family: "Baskerville",serif;
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: "Futura",sans-serif;
	font-style: normal;
	font-weight: 500;
}

#aboutmeheading {
	border-bottom: 3px rgb(0,51,153) solid;
	padding-bottom: 5px;
}
#portfolioheading {
	border-bottom: 3px rgb(255,153,51) solid;
	padding-bottom: 5px;
}
#contactheading {
	border-bottom: 3px rgb(153,204,204) solid;
	padding-bottom: 5px;
}
.stage{
	display: block;
	width: 100%;
}
.container  {
  	padding: 20px;
	display: block;
  	margin: 1em auto;
  	background-color: white;
}
.header-fixed-top{
	position:fixed;
	top: 50px;
	right:0;
	left:0;
	z-index: -99;
	height: 370px;
	background-color: #ccc;
}
#TrainCars{
	margin-top: 400px;
	height:90%;
	width:100%;
	z-index:99;
	background-color: #CCC;
}
.center {
	width: 100%;
	text-align: center;
}
a {

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
	font-family: "Futura",sans-serif;
    float: left;
}
p {
	font-size: 1em;
}
p.indent {
	text-indent: 1.6em;
}
p.space_orn {
	text-align: center;
	margin: 1em 0;
}
p.copyright-bottom-page {
	width: 100%;
	font-size: 70%;
	text-align: center;
}

h2 {
	font-size:2.5em;
	margin:0 0 1em 0;
}
h1,h2 {
	font-family: "Futura",sans-serif;
	font-style: normal;
	font-weight: normal;
	font-weight: 500;
}
.subtitle-gallery {
	font-size: 4em;
	font-family: "Futura",sans-serif;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.roundimage {
	border-radius: 50%;
	 width: 150px;
	 height:150px;
	 border: 3px solid blue;
	 background-color: black;
	 border-color: rgb(0,51,153);
}
.logo {
	font-size: 2em;
	font-family: "Futura",sans-serif;
	font-style: normal;
	margin: 0 0 0 0;
	font-weight: normal;
	letter-spacing: 1px;
	position: relative;
	display: block;
	padding: 20px 20px;
	text-align: center;
	z-index: -99;
/* 
	-webkit-animation-name: dropIn;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-name: dropIn;
	animation-duration:1.5s;
	animation-iteration-count:1;
	animation-timing-function: ease-in;
 */
}
/* 
.dropIn{
	background-color:#D4D4D4;
	-webkit-animation-name: laterDropIn;
	-webkit-animation-duration:2.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	animation-name: laterDropIn;
	animation-duration:2.5s;
	animation-iteration-count:1;
	animation-timing-function: ease-in;
}
@-webkit-keyframes laterDropIn{
	0% {-webkit-transform: translate(0px,-300px);}
	70% {-webkit-transform: translate(0px,-300px);}
	85% {-webkit-transform: translate(0px,30px);}
	95% {-webkit-transform: translate(0px,-10px);}
	98% {-webkit-transform: translate(0px,2px);}
	100% {-webkit-transform: translate(0px,0px);}
}
@keyframes laterDropIn{
	0% {transform: translate(0px,-300px);}
	70% {transform: translate(0px,-300px);}
	85% {transform: translate(0px,30px);}
	95% {transform: translate(0px,-10px);}
	98% {transform: translate(0px,2px);}
	100% {transform: translate(0px,0px);}
}
@-webkit-keyframes dropIn{
	0% {-webkit-transform: translate(0px,-300px);}
	75% {-webkit-transform: translate(0px,50px);}
	85% {-webkit-transform: translate(0px,-10px);}
	98% {-webkit-transform: translate(0px,2px);}
	100% {-webkit-transform: translate(0px,0px);}
}
@keyframes dropIn{
	0% {transform: translate(0px,-300px);}
	75% {transform: translate(0px,50px);}
	85% {transform: translate(0px,-10px);}
	98% {transform: translate(0px,2px);}
	100% {transform: translate(0px,0px);}
}
 */

.container-fluid{
padding:0;
}
span.dropcap {
	font-family: "Baskerville",sans-serif;
	font-size: 4em;
	float:left;
	margin-top: -0.5em;
 	margin-bottom: -0.4em;	
	line-height: 1.5em;
	margin-right: 0.005em;
	
}
.navbar {
	width: 400px;
	margin: auto;}
#twitterfeed {
	display: block;
}
#instagramfeed {
	display: block;
	width: 100px;
	border: 3px red;
	margin: 1em 0;
}
/* 
Color palette
 */
.caliblue {
	color: rgb(0,51,153);
}
.caliyellow {
	color: rgb(255,153,51);
}
.caliseagreen {
	color: rgb(153,204,204);
}
.bgcaliblue {
	background-color: rgb(0,51,153);
}
.bgcaligrey {
	background-color: #ddd;
}
.bgcaliyellow {
	background-color: rgb(255,153,51);
}
.bgcaliseagreen {
	background-color: rgb(153,204,204);
}


.leftHalf {
width:50%;
}
.rightHalf {
float:right;
width:45%;
}


/* fancybox */

.galleryfancy img {
	height: 150px;
	margin: 0;
}
.navbar-toggle{
margin-top:-50px;
margin-right: 30px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
color:white;
background-color: #D4D4D4;
}
.nav{
position:relative;
margin-right: 10px;
}