body {
	font-family: "Baskerville",sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: #E6E6E6;
}
@font-face {
    font-family: "Baskerville",serif;
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: "Futura",sans-serif;
	font-style: normal;
	font-weight: 500;
}
#aboutmeheading {
	border-bottom: 3px rgb(0,51,153) solid;
	padding-bottom: 5px;
}
#portfolioheading {
	border-bottom: 3px rgb(255,153,51) solid;
	padding-bottom: 5px;
}
#contactheading {
	border-bottom: 3px rgb(153,204,204) solid;
	padding-bottom: 5px;
}
.homestage {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	background-color: white;
  	box-shadow: 3px 3px 5px 6px #ccc;
  	padding: 30px;
  	margin: 1em 2%;
}
.stage{
	display: block;
	width: 100%;
}
.container  {
  	padding: 20px;
	display: block;
  	box-shadow: 3px 3px 5px 6px #ccc;
  	margin: 1em auto;
  	background-color: white;
}
a {

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
	font-family: "Futura",sans-serif;
    float: left;
}
p {
	font-size: 1em;
}
p.indent {
	text-indent: 1.6em;
}
p.space_orn {
	text-align: center;
	margin: 1em 0;
}
p.copyright-bottom-page {
	width: 100%;
	font-size: 70%;
	text-align: center;
}

h2 {
	font-size:2.5em;
	margin:0 0 1em 0;
}
h1,h2 {
	font-family: "Futura",sans-serif;
	font-style: normal;
	font-weight: normal;
	font-weight: 500;
}
.subtitle-gallery {
	font-size: 4em;
	font-family: "Futura",sans-serif;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.logo {
	font-size: 1.5em;
	font-family: "Futura",sans-serif;
	font-style: normal;
	margin: 0 0 0 0;
	font-weight: normal;
	 letter-spacing: 1px;
  position: relative;
  display: block;
  padding: 20px 20px;
  float: left;
}
span.dropcap {
	font-family: "Baskerville",sans-serif;
	font-size: 4em;
	float:left;
	margin-top: -0.5em;
 	margin-bottom: -0.4em;	
	line-height: 1.5em;
	margin-right: 0.005em;
	
}
.navbar-default {
	background-color: #E6E6E6;
	border: none;
}
.navbar-default .navbar-collapse {
	border: none;

}
#twitterfeed {
	display: block;
}
#instagramfeed {
	display: block;
	width: 100px;
	border: 3px red;
	margin: 1em 0;
}
/* 
Color palette
 */
.caliblue {
	color: rgb(0,51,153);
}
.caliyellow {
	color: rgb(255,153,51);
}
.caliseagreen {
	color: rgb(153,204,204);
}
.bgcaliblue {
	background-color: rgb(0,51,153);
}
.bgcaliyellow {
	background-color: rgb(255,153,51);
}
.bgcaliseagreen {
	background-color: rgb(153,204,204);
}

.leftHalf {
width:50%;
}
.rightHalf {
float:right;
width:45%;
}
#TrainCars{
position: absolute;
top: 50px;
height:90%;
width:100%;
}

/* fancybox */

.galleryfancy img {
	height: 200px;
	margin: 0;
}