#carousel-example-generic {
	height:700px;
}
#myname {
	text-align: center;
	color:red;
}
#aboutme {
	display:none;
}
span.DropCap-Orange {
	font-size: 2em;
	float: left;
	margin-right: 0.1em;
	line-height: 1.5em;
	margin-top: -0.5em;
	margin-bottom: -0.4em;
}