body { text-replace: "a" "b" "b" "c" }

   
   
ol {
	font-family: Georgia, seif;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 7%;
}
ul.bullets {
	font-family: helvetica, san-serif;
	font-size: 1.5em;
	margin-left: 7%;
}

a:hover {
    text-decoration: underline;

}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: underline;
}

p {
	font-size: 1.5em;
	margin-left: 5%;
}
div.box-right {
	text-align: right;
	margin: 5em 5em;

}

body {
		background-color: #ffffff;
		font-family: helvetica, san-serif;
		color: #black;
		font-size: 1em;
		text-align:left;	
}

div.shadowH1 {
	margin-top: 1em;
    background-color: black;
    box-shadow: 10px 10px 5px #888888;
}
span.shadowH2 {
	margin-top: 1em;
	margin:0 0 0 0;
	padding:5px;
	text-align: letf;
    background-color: black;
    box-shadow: 10px 10px 5px #888888;
}
span.DropCap-Orange {
	border:outset;
	background-color: #f8b948;
	padding: 2px; 
	font-family: helvetica, san-serif;
	font-weight: bold;
	font-size: 2em;
	margin-right: 0.08em;
	float: left;
	margin-bottom: 0.004em;
}
span.yellow {
	border:outset;
	padding: 10px; 
	font-family: helvetica, san-serif;
	font-weight: bold;
	font-size: 2em;
	background-color: #ffc20f;
	margin-right: 0.08em;
	margin-bottom: 0.004em;
}
span.blue {
	border:outset;
	padding: 10px; 
	font-family: helvetica, san-serif;
	font-weight: bold;
	font-size: 2em;
	background-color: #3e46ef;
	margin-right: 0.08em;
	margin-bottom: 0.004em;
}
p.indent { 
	text-indent: 1em;
	font-family: Georgia, seif;


}
p.link-text {
	font-size: 3em;
	text-align: center;
	margin: 2em 0 2em 0;
	font-weight: bold;
}
p.flushleft {
	font-family: Georgia, seif;

}
span.Boldcaps {
	font-family: helvetica, san-serif;
	font-variant: small-caps;
	font-weight: bold;

}
span.GRAY {
	color: gray;
}
h1 {
	font-style: italic;
	font-weight: bold;
	padding:20px 4.1px 13px 0px;
	margin-top: 5%; 
	border:outset;
	border-width: 7px;
	font-family: helvetica, san-serif;
	font-size: 3em;
	color:#ffffff;
	text-indent: 1em;
}
h2 {
	color:#ffffff;
	font-family: helvetica, san-serif;
	font-size: 2em;
	margin-bottom: 2em;
	margin-top:2em;
	padding:20px 4.1px 13px 0px;
	text-indent: 1em;
	text-align: left;
}
h3 {
	color:#ffffff;
	font-family: helvetica, san-serif;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding:20px 4.1px 13px 0px;
	text-indent: 2em;
	text-align: left;
}
h5 {
	color:#ffffff;
	font-family: helvetica, san-serif;
	font-size: 1.3em;
	margin-bottom: 2em;
	margin-top:2em;
	padding:20px 4.1px;
	text-indent: 3em;
	text-align: left;
}
h6.Bottomlinks {
	font-family: Georgia, seif;
	color: #gray;
	margin: 1em 5%;
	padding-top: 1%;
	border-top: thin solid #000000;
	text-align: center;
	font-style: italic;
	font-weight: normal;
}
img.img50 {
	width: 100%;
}
div.img50 {
	border:inset;
	border-width: 7px;
	float: right;
	max-width: 20%;
	height: auto;
	margin: -120px 1em 0.5em 1em;
}
